.container {
  padding: 40px;
}

.titulo {
  margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 30px;
}

.card {
  flex: 1;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-bottom: 15px;
}

.card p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.card ul {
  padding-left: 20px;
  margin-bottom: 15px;
}

.autor {
  text-align: center;
  margin-bottom: 20px;
}

.foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.info {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.descricao {
  text-align: justify;
}
.rodape {
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: #333; */
  /* color: white; */
  margin-top: auto;
  text-align: center;
  padding: 10px 0;
}
